<h2>Add New Restaurant</h2> 
 
<div *ngIf ="alert" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Success!</strong> Data Entry is successful.
    <button (click) = "closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div> 

 
<form [formGroup] = "addResto" (ngSubmit) = "collectResto()">
     
    
    <div class="form-group">
      <label for="exampleInputEmail1">Name</label>
      <input type="text" class="form-control" formControlName ="name"  placeholder="Enter Name of Restaurant" > 
    <!--<div *ngIf = "name.invalid"> invalid </div> -->
    
    </div>
    <div class="form-group">
      <label for="exampleInputAddress1">Address</label>
      <input type="text" class="form-control" formControlName ="address" placeholder="Enter Address" >
    </div>
    <div class="form-group">
        <label for="exampleInputAddress1">Email Address</label>
        <input type="email" class="form-control" formControlName ="email" placeholder="Enter Email Address" >
    </div>
    <button  type="submit" class="btn btn-primary">Submit</button>
  </form>