footer 
{ 
     background-color: rgb(165, 165, 192); 
     padding: 10px;
     position: absolute;
     bottom: 0;
     left: 0;
     width: 100%;
} 
img 
{ 
    position: relative; 
    bottom: 50%;
}